---
import SiteLayout from "@/layouts/SiteLayout.astro"
---

<SiteLayout
  title="お問い合わせ | yuarasino-homepage"
  description="新篠ゆうへのお問い合わせ"
>
  <main>
    <div class="split:mt-0 split:pl-[50%]">
      <div class="h-[100vh] bg-white py-32">
        <div class="mx-auto max-w-screen-clamp px-4">
          <div class="flex flex-col">
            <p
              class="text-xl tracking-wide text-primary-500 before:content-['-_']"
            >
              Contact
            </p>
            <h1 class="mt-1 text-4xl">お問い合わせ</h1>
          </div>
        </div>
      </div>
    </div>
  </main>
</SiteLayout>
