---
import SiteLayout from "@/layouts/SiteLayout.astro"
import ActivitySection from "@/sections/ActivitySection.astro"
import ProfileSection from "@/sections/ProfileSection.astro"
import ResumeSection from "@/sections/ResumeSection.astro"
import WorkSection from "@/sections/WorkSection.astro"
---

<SiteLayout
  title="æ–°ç¯ ã‚†ã†ðŸ¡ãƒãƒ¼ãƒãƒ£ãƒ«ç¾Žå°‘å¥³ãƒ—ãƒ­ã‚°ãƒ©ãƒžãƒ¼"
  description="ãƒãƒ¼ãƒãƒ£ãƒ«ç¾Žå°‘å¥³ãƒ—ãƒ­ã‚°ãƒ©ãƒžãƒ¼ã€Œæ–°ç¯ ã‚†ã†ã€ã®ãƒ›ãƒ¼ãƒ ãƒšãƒ¼ã‚¸ã§ã™ã€‚"
>
  <main>
    <ProfileSection />
    <ActivitySection />
    <ResumeSection />
    <WorkSection />
  </main>
</SiteLayout>
