---
import SiteLayout from "@/layouts/SiteLayout.astro"
import ActivitiesSection from "@/sections/ActivitiesSection.astro"
import ProfileSection from "@/sections/ProfileSection.astro"
import ResumeSection from "@/sections/ResumeSection.astro"
import WorksSection from "@/sections/WorksSection.astro"
---

<SiteLayout title="yuarasino-homepage" description="新篠ゆうのホームページ">
  <main>
    <ProfileSection />
    <ActivitiesSection />
    <ResumeSection />
    <WorksSection />
  </main>
</SiteLayout>
