---
import CopyText from "@/components/CopyText.astro"
import LeadText from "@/components/LeadText.astro"
import SiteLayout from "@/layouts/SiteLayout.astro"
import WorksSection from "@/sections/WorksSection.astro"
---

<SiteLayout
  title="新篠ゆうのホームページ"
  description="新篠ゆうのホームページです"
>
  <main id="main" class="px-6">
    <div class="mt-24 flex flex-col">
      <p class="self-start">
        <CopyText>麻雀 × プログラミング</CopyText>
      </p>
      <p class="mt-6 self-end">
        <CopyText>配信 × プログラミング</CopyText>
      </p>
      <p class="mt-12 self-center">
        <CopyText>みんなの「やりたい」を形に！</CopyText>
      </p>
      <p class="mt-24 self-center">
        <LeadText>
          バーチャル美少女プログラマー、新篠ゆうです！<br />
          夜22時の麻雀配信を中心に活動してます<br />
          配信者さん向けのプログラム提供もやってます
        </LeadText>
      </p>
    </div>
    <div class="my-24 flex flex-col">
      <WorksSection />
    </div>
  </main>
</SiteLayout>
