---
import SiteLayout from "@/layouts/SiteLayout.astro"
import ActivitySection from "@/sections/ActivitySection.astro"
import ProfileSection from "@/sections/ProfileSection.astro"
import ResumeSection from "@/sections/ResumeSection.astro"
import WorkSection from "@/sections/WorkSection.astro"
---

<SiteLayout title="yuarasino-homepage" description="新篠ゆうのホームページ">
  <main>
    <ProfileSection />
    <ActivitySection />
    <ResumeSection />
    <WorkSection />
  </main>
</SiteLayout>
