---
import SiteLayout from "@/layouts/SiteLayout.astro"
---

<SiteLayout title="yuarasino-homepage" description="新篠ゆうのホームページ">
  <main>
    <h1>yuarasino-homepage</h1>
    <p>新篠ゆうのホームページ</p>
  </main>
</SiteLayout>
