---
import Layout from "@/layouts/Layout.astro"
---

<Layout title="yuarasino-homepage">
  <main class="h-[300vh]">
    <h1 class="font-system text-6xl text-pink-500">yuarasino-homepage</h1>
  </main>
</Layout>
