<span
  class:list={[
    "inline-block p-[0.375em]",
    "bg-gradient-to-r from-secondary-300 to-primary-300",
    "text-[5.6vw] font-light leading-none text-white",
    "immobile:text-[2.8vw]",
  ]}
>
  <slot />
</span>
