<span class="inline-block bg-gradient-to-r from-secondary-300 to-primary-300">
  <span
    class="inline-block p-[0.5em] text-[4.8vw] font-light leading-none text-white pc:text-[2.4vw]"
  >
    <slot />
  </span>
</span>
