---
import { Image } from "astro:assets"

import illust from "@/assets/illust.png"
---

<aside id="hero" class="sticky top-0 -z-50 h-screen w-full">
  <div class="yu-hero-background absolute inset-0 -z-50"></div>
  <Image class="h-full w-full object-cover object-top" src={illust} alt="" />
</aside>

<style>
  .yu-hero-background {
    opacity: 0.5;
    background-image: linear-gradient(to bottom, #78cdf6 1px, transparent 1px),
      linear-gradient(to right, #78cdf6 1px, transparent 1px);
    background-position: 6px 6px;
    background-size: 20px 20px;
  }
</style>
