---
import { Image } from "astro:assets"

import heroAsp from "@/assets/hero_asv.png"
import heroAsv from "@/assets/hero_asv.png"
---

<aside id="hero" class="fixed left-0 top-0 -z-50 h-screen w-full">
  <div
    class="absolute left-0 top-0 z-0 h-full w-full bg-primary-300 split:w-1/2"
  >
    <Image
      src={heroAsv}
      alt="VTuber新篠ゆうのイラスト"
      class="h-full w-full object-cover object-top"
    />
  </div>
  <div
    class="absolute right-0 top-0 -z-10 h-full w-full bg-secondary-300 split:w-1/2 [.flip_&]:z-10"
  >
    <Image
      src={heroAsp}
      alt="プログラマー新篠ゆうのイラスト"
      class="h-full w-full object-cover object-top"
    />
  </div>
</aside>
<script>
  const handler = () => {
    const $hero = document.querySelector("#hero")
    const $resume = document.querySelector("#resume")
    if (!$hero || !$resume) return
    const height = window.innerHeight
    const top = $resume.getBoundingClientRect().top
    if (top < height * 2) {
      $hero.classList.add("flip")
    } else {
      $hero.classList.remove("flip")
    }
  }
  document.addEventListener("DOMContentLoaded", handler)
  document.addEventListener("scroll", handler)
</script>
