---
import { Image } from "astro:assets"
import { getDataEntryById } from "astro:content"

const resume = await getDataEntryById("resume", "asp")
const { data } = resume
---

<section id="resume" class="bg-white font-mono">
  <div class="mx-auto max-w-screen-clamp px-4 py-32">
    <div>
      <p class="text-xl tracking-wide text-primary-500 before:content-['-_']">
        Resume
      </p>
      <h2 class="text-3xl">プロフィール</h2>
    </div>
    <div class="mt-16 px-4">
      <table class="w-full">
        <tr>
          <td class="border border-slate-950 leading-none px-2">
            <div class="flex gap-8">
              <div class="text-xs">ふりがな</div>
              <div class="text-sm">{data.reading}</div>
            </div>
          </td>
          <td class="w-28 leading-none" rowspan="3">
            <Image
              src={data.avatar}
              alt="新篠ゆうの立ち絵"
              class="w-full h-auto"
            />
          </td>
        </tr>
        <tr>
          <td class="border border-slate-950 px-2">
            <div class="flex gap-8">
              <div class="text-xs">名前</div>
              <div class="text-3xl">{data.name}</div>
            </div>
          </td>
        </tr>
        <tr>
          <td class="border border-slate-950 text-lg px-2">
            <div class="flex gap-8">
              <div class="text-xs">職業</div>
              <div class="text-lg">{data.position}</div>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
</section>
