<section
  id="resume"
  class="mt-[100vh] h-screen w-full bg-white font-mono split:mr-auto split:mt-0 split:w-1/2"
>
  <div class="mx-auto max-w-screen-clamp px-4 py-32">
    <div>
      <p class="text-xl tracking-wide text-primary-500 before:content-['#']">
        Resume
      </p>
      <h2 class="text-3xl">プロフィール</h2>
    </div>
  </div>
</section>
