<section id="resume" class="bg-white font-mono">
  <div class="mx-auto max-w-screen-clamp px-4 py-32">
    <div class="flex flex-col">
      <p class="text-xl tracking-wide text-primary-500 before:content-['-_']">
        Resume
      </p>
      <h2 class="text-3xl">プロフィール</h2>
    </div>
  </div>
</section>
