---
import CopyText from "@/components/CopyText.astro"
import LeadText from "@/components/LeadText.astro"
---

<section id="top" class="mt-24 px-4 immobile:px-8">
  <div class="flex flex-col">
    <p class="self-start">
      <CopyText>麻雀 × プログラミング</CopyText>
    </p>
    <p class="mt-8 self-end">
      <CopyText>配信 × プログラミング</CopyText>
    </p>
    <p class="mt-16 self-center">
      <CopyText>みんなの「やりたい」を形に！</CopyText>
    </p>
  </div>
  <div class="mt-24 flex flex-col">
    <p class="self-center">
      <LeadText>
        バーチャル美少女プログラマー<br />
        新篠ゆう（あらしのゆう）です！
      </LeadText>
    </p>
  </div>
</section>
