<section id="works" class="bg-slate-100 font-mono">
  <div class="mx-auto max-w-screen-clamp px-4 py-32">
    <div class="flex flex-col">
      <p class="text-xl tracking-wide text-primary-500 before:content-['-_']">
        Work
      </p>
      <h2 class="text-3xl">活動実績</h2>
    </div>
  </div>
</section>
