<section id="works" class="split:pr-[50%]">
  <div class="h-[100vh] bg-slate-100 py-32">
    <div class="mx-auto max-w-screen-clamp px-4">
      <div class="flex flex-col">
        <p
          class="font-mono text-xl tracking-wide text-primary-500 before:content-['-_']"
        >
          Works
        </p>
        <h2 class="mt-1 font-mono text-4xl">活動実績</h2>
      </div>
    </div>
  </div>
</section>
