<section
  id="work"
  class="h-screen w-full bg-slate-100 font-mono split:mr-auto split:w-1/2"
>
  <div class="mx-auto max-w-screen-clamp px-4 py-32">
    <div>
      <p class="text-xl tracking-wide text-primary-500 before:content-['#']">
        Work
      </p>
      <h2 class="text-3xl">活動実績</h2>
    </div>
  </div>
</section>
