---
import HeroAside from "@/sections/HeroAside.astro"

interface Props {
  title: string
  description: string
}

const { title, description } = Astro.props
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  </head>
  <body>
    <div class="grid grid-cols-1 pc:grid-cols-2">
      <div>
        <HeroAside />
      </div>
      <div>
        <slot />
      </div>
    </div>
  </body>
</html>
