---
import "@fontsource-variable/m-plus-1"
import "@fontsource-variable/m-plus-code-latin"

interface Props {
  title: string
  description: string
}

const { title, description } = Astro.props
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  </head>
  <body class="font-sans text-secondary-950">
    <slot />
  </body>
</html>
